* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type:none;
}
a {
    text-decoration:none;
}

@media screen and (min-width:1980px) {

    .container {
        width: 100%;
    }
    
}
/* top - header -Nav -----start*/
.nav {
    display: block;
    display: flex;
    position: relative;
}
.nav ul {
    position: absolute;
    right: 00px;
    background-color: rgb(114, 108, 108);
    width: 100%;
}
.nav ul li {

    float: left;
    padding: 50px;
    flex-wrap: nowrap;
}
.nav ul li:hover {
    background-color: #469ad9;
}
.nav ul li a {
    color: #FFF;
    display: flex;
    flex: 0 1;
}
.dropdown {
    width: 100%;
    height: 80px;
    padding-top:20px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(116, 110, 110) ;   
    opacity: 0.8;
    font-size: 25px;
}
.dropdown a,li {
    color: #FFF;
}
.dropdown #dLabel span:hover  {
    color: #fff;
    text-decoration: none !important;
}
.dropdown ul li {
    background-color: rgb(99, 98, 96); 
    opacity: 0.5;
}
#li-767  {
    float: right;
    padding-right: 30px;
    padding: 10px;
}
#li-767 span a {
    font-size: 16px;
}

.dropdown ul li a {
    font-size: 18px;
    color: #fff;

}
.dropdown-menu ul li:hover{
    background-color: #469ad9;
}
/* .header_top_nr {
    position: relative;
}
.header_top_nr ul {
    position: absolute;
    background-color: white !important;
    opacity: 0.5;
    right: 15px;
}
.header_top_nr ul li {
    
} */
.header_top_nav {
    font-size: 16px;
    float: right;
    padding: 15px;
}
.nav
.header_top_nav span a  {
    padding-left: 15px;
}
/* top - header -Nav -----stop*/
/* tnv - lpt -----start*/
@media screen  and (min-width:992px){
    .nr {
        margin-top: 121px;
    }
}
.nr img{
    
    width: 1800px;
    height: 10px;
    margin: auto;
    
    
}
